<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">

<head>
    <title>Show Groupe</title>
    <link rel="stylesheet" href="/assets/css/show.css">
<style>
    .card-body {
        background-color: #0dcaf0 !important;
        border-radius: 20px;
    }
</style>
</head>

<main layout:fragment="content">
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row  text-center"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Detailes du Groupe</h1>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Information du Groupe</h2>
                </div>

                <div class="row">
                    <div class="col mt-5 mt-lg-0">
                        <div class="php-email-form">
                            <div class="row">
                                <div class="form-group">
                                    <label for="nom">Nom:</label>
                                    <p th:text="${groupe.Nom}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <th:block th:if="${not #lists.isEmpty(groupe.contacts)}">
                                        <p class="text-center"
                                           th:text="'Nombre de contacts trouves : ' + ${groupe.contacts.size()}"></p>
                                        <div class="row">
                                            <div th:each="contact : ${groupe.contacts}"
                                                 class="col-sm-12 col-md-6 col-lg-4 mb-4  ">
                                                <div class="card shadow-lg rounded-5 ">
                                                    <div class="card-body">
                                                        <h4 class="card-title"
                                                            th:text="${contact.Nom} + ' ' + ${contact.Prenom}"></h4>
                                                        <p class="card-text">
                                                            <span th:text="${contact.telephone1}"></span><br/>
                                                            <span th:text="${contact.email_Personnel}"></span>
                                                        </p>
                                                        <div class="d-flex justify-content-center">
                                                            <a th:href="@{/groups/removeContact/{idGroupe}/{idContact}(idGroupe=${groupe.id},idContact=${contact.id})}"
                                                               class="btn btn-danger rounded-5 m-1 delete"><i
                                                                    class="bi bi-calendar2-x-fill"></i></a>
                                                            <a th:href="@{/contacts/show/{id}(id=${contact.id})}"
                                                               class=" btn btn-success rounded-5 m-1"><i
                                                                    class="bi bi-file-earmark-fill"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-4 mb-4  ">
                                                <div class="card shadow-lg rounded-5 text-center w-100 h-100 m-auto d-flex align-items-center justify-content-center">
                                                    <a th:href="@{/groups/show/{id}/contacts(id=${groupe.id})}"
                                                       class="btn btn-primary rounded-5 m-1 w-25"><i
                                                            class="bi bi-plus-circle"></i></a>
                                                </div>

                                            </div>
                                        </div>

                                    </th:block>
                                    <th:block th:if="${#lists.isEmpty(groupe.contacts)}">
                                        <p class="text-center">Aucun contact trouve</p>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${contacts}">
                            <form action="#" th:action="@{/groups/addContacts/{id}(id=${groupe.id})}" method="post"
                                  role="form" class="php-email-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <th:block th:if="${not #lists.isEmpty(contacts)}">
                                            <p class="text-center"
                                               th:text="'Nombre de contacts trouves : ' + ${contacts.size()}"></p>
                                            <div class="row">
                                                <div th:each="contact : ${contacts}"
                                                     class="col-sm-12 col-md-6 col-lg-4 mb-4  ">
                                                    <div class="card shadow-lg rounded-5 ">
                                                        <div class="card-body">
                                                            <h4 class="card-title"
                                                                th:text="${contact.Nom} + ' ' + ${contact.Prenom}"></h4>
                                                            <p class="card-text">
                                                                <span th:text="${contact.telephone1}"></span><br/>
                                                                <span th:text="${contact.email_Personnel}"></span>
                                                            </p>
                                                            <div class="d-flex justify-content-center">
                                                                <input type="checkbox" name="contacts"
                                                                       th:value="${contact.id}"
                                                                       class="form-check-input">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 mb-4  ">
                                                    <div class="card shadow-lg rounded-5 text-center w-100 h-100 m-auto d-flex align-items-center justify-content-center">
                                                        <a th:href="@{/contacts/add}"
                                                           class="btn btn-primary rounded-5 m-1 w-25"><i
                                                                class="bi bi-plus-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </th:block>
                                        <th:block th:if="${#lists.isEmpty(contacts)}">
                                            <p class="text-center">Aucun contact trouve</p>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit">Creer</button>
                                </div>
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </main>
</main>
</html>
