<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}">
<head>
    <title>Creer contact </title>
    <style>
        label{
            font-weight: bold;
            padding-right: 5px;
        }
        input ,select{
            box-shadow: #47b2e4  !important;
            border-radius: 3px 20px !important;
            border: 1px solid #47b2e4 !important;
        }
        .card-body {
            background-color: #0dcaf0 !important;
            border-radius: 20px;
        }
    </style>
</head>

<main layout:fragment="content">
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row  text-center"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Contacts </h1>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2> Creer Noveau Contact </h2>
                </div>

                <div class="row ">
                    <div class="col mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="#" th:action="@{/contacts/add/}" th:object="${contact}" method="post"
                              role="form" class="php-email-form rounded-5">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="Nom">Nom</label>
                                    <input type="text" th:field="*{Nom}" class="form-control" id="Nom" required name="Nom">
                                    <span class="text-danger" th:if="${#fields.hasErrors('Nom')}" th:errors="*{Nom}">Nom Error</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Prenom">Prenom</label>
                                    <input type="text" th:field="*{Prenom}" class="form-control" id="Prenom" required name="Prenom">
                                    <span class="text-danger" th:if="${#fields.hasErrors('Prenom')}" th:errors="*{Prenom}">Prenom Error</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Telephone1</label>
                                    <input type="text" th:field="*{Telephone1}" class="form-control" id="telephone1"
                                           required name="Telephone1">
                                        <span  class="text-danger" th:if="${#fields.hasErrors('Telephone1')}" th:errors="*{Telephone1}">Telephone1 Error</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Telephone2</label>
                                    <input type="text" th:field="*{Telephone2}" class="form-control" id="telephone2"
                                              name="Telephone2">
                                    <span class="text-danger" th:if="${#fields.hasErrors('Telephone2')}" th:errors="*{Telephone2}">Telephone2 Error</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" >
                                    <label for="Email_Personnel">Email Personnel</label>
                                    <input type="email" th:field="*{Email_Personnel}" class="form-control"
                                           id="Email_Personnel" required name="Email_Personnel">
                                    <span class="text-danger" th:if="${#fields.hasErrors('Email_Personnel')}" th:errors="*{Email_Personnel}">Email_Personnel Error</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Email Personnel</label>
                                    <input type="email" th:field="*{Email_Professionnel}" class="form-control"
                                           id="Email_Professionnel" required>
                                </div>
                            </div>
                            <div class="row">
                                <!--Address-->
                                <div class="form-group col-md-6">
                                    <label for="Adresse">Adresse</label>
                                    <input type="text" th:field="*{Adresse}" class="form-control" id="Adresse" required name="Adresse">
                                    <span class="text-danger" th:if="${#fields.hasErrors('Adresse')}" th:errors="*{Adresse}">Adresse Error</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Genre</label>
                                    <select class="form-control" th:field="*{Genre}" id="Genre" required name="Genre">
                                        <option value="Homme">Homme</option>
                                        <option value="Femme">Femme</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Continue with other fields as necessary... -->
                            <div class="text-center">
                                <button type="submit"><i class="bi bi-file-earmark-plus"></i> Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </main>
</main>
</html>
